name: Deploy Hugo site to Pages

on:
  push:
    branches:
      - main  # use main or master depending on your repo

jobs:
  build:
    runs-on: ubuntu-latest
    # This permissions block is required to allow the action to push to the gh-pages branch
    permissions:
      contents: write
      
    steps:
    - uses: actions/checkout@v3

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: 'latest'
        extended: true

    - name: Build
      # Ensure the baseURL matches your repo name exactly
      run: hugo --minify --baseURL "https://dineshghimire01.github.io/Dinesh_website/"
      
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
